h1 {
  color: red;
}
li {
  color: green;
}
#fruits {
  color: blue;
}
.fruits-container li {
  color: tomato;
}
.yellow-bg{
  background-color: yellowgreen !important;
}
.text-center{
  text-align: center;
}
.large-text{
  font-size: 30px;

}